<div class="contenedor-formulario">
  <mat-card class="artista-card">
    <h2 class="artista-titulo">
      Iniciar Sesión
    </h2>

    <div class="form-wrapper-degradado">
      <form [formGroup]="loginForm" class="form-artist-content" (ngSubmit)="onSubmit()">

        <div class="campo-form">
          <label>Usuario:</label>
          <input matInput formControlName="username" placeholder="Ingrese su usuario" />
        </div>

        <div class="campo-form">
          <label>Password:</label>
          <input matInput type="password" formControlName="password" placeholder="Ingrese su password" />
        </div>

        <button type="submit" class="action-button login">
          <span class="login-text">Iniciar Sesión</span>
        </button>

        <div>
          <p class="texto-auxiliar">
            <a routerLink="/ayuda" class="enlace-registrar">¿Olvidaste tu contraseña?</a>
          </p>

          <!-- Texto de registro -->
          <p class="texto">¿Es nuevo en LiveBeat?
            <a (click)="triggerSplashRegistro()" class="enlace-registrar">Crear una cuenta</a>
          </p>
        </div>

      </form>
      <!-- Mensaje de éxito -->
      <div *ngIf="successLogin" class="mensaje-login-success">
        {{ successLogin }}
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="errorLogin" class="mensaje-login-error">
        {{ errorLogin }}
      </div>
    </div>

    <!-- Splash para login correcto -->
    <div class="splash-overlay-login" *ngIf="showSplash" [ngStyle]="splashStyles"></div>
    <!-- Splash para enlace de registro -->
    <div class="splash-overlay-register" *ngIf="showSplash2" [ngStyle]="splashStyles2"></div>
  </mat-card>
</div>
